[Unit]
Description=Service for managing AppImages
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/bin/bash -c "/usr/bin/appimage-manager $HOME/.config/appimage-config.json"

[Install]
WantedBy=default.target
