[Unit]
Description=Service for managing AppImages
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecCondition=/usr/bin/test -e %h/.config/appimages.json
ExecStart=/usr/bin/appimage-manager %h/.config/appimages.json

[Install]
WantedBy=default.target
