[Unit]
Description=Service for creating toolboxes

[Service]
Type=oneshot
ExecStart=/bin/bash -c "/usr/bin/just -f %h/.justfile install-toolboxes"
Restart=on-failure
RestartSec=5min

[Install]
WantedBy=default.target
