[Unit]
Description=Container service for Syncthing
After=network-online.target

[Container]
ContainerName=syncthing
Image=docker.io/syncthing/syncthing:latest
{% for publishport in syncthing_publishports %}
PublishPort={{ publishport }}
{% endfor %}
{% for volume in syncthing_volumes %}
Volume={{ volume }}
{% endfor %}
AutoUpdate=registry
Pull=always

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
