[Unit]
Description=Container service for Ollama

[Container]
ContainerName=%p
Image=docker.io/ollama/ollama:latest
Volume=${CONTAINER_PATH}/config:/root/.ollama:Z
PublishPort=${PORT}:11434
AutoUpdate=registry

[Service]
ExecCondition=/usr/bin/test -d "${CONTAINER_PATH}/config"
Restart=on-failure

[Install]
WantedBy=default.target
