[Unit]
Description=Container service for Syncthing

[Container]
ContainerName=%p
Image=docker.io/%p/%p:latest
Volume=%h/.syncthing/data:/var/%p:Z
UserNS=keep-id
AutoUpdate=registry

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
